.navbar {
    background-color:#2C2B3C;
}

.navbar-menu-list {
    list-style: none;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logomark {
    text-align:center;
    font-size: 30px;
    color: white;
    justify-content: center;
    display: flex;
    align-self: center;
}

.topHead {
    display: flex;
    justify-content: center;
}

.navbar-menu-list-item {
padding: 7px;
}

a {
    color:white
}

h3 {
    font-size: 40px;
}

.Info {
    display: flex;
    flex-direction: column;
    justify-content: center;
   
    margin-left: 250px;
    margin-right: 250px;
    

} 