:root {
    --header-foreground: #fff;
    --header-background: #2c2b3c;
    --foreground-default: #121420;
    --background-default: #fff;
    --accent-color: #c94949;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    line-height: 1.55;
    /* letter-spacing: -0.01em; */
    color: var(--foreground-default);
    background-color: var(--background-default);
}

h1 {
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 28px;
    font-weight: normal;
    line-height: normal;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

header,
footer {
    color: var(--header-foreground);
    background-color: var(--header-background);
    padding: 1rem 0;
}

.flex {
    display: flex;
}

.center-justify {
    justify-content: center;
}

.center-align {
    align-items: center;
}

.column-flex,
.col-flex {
    flex-direction: column;
}

.container {
    --container-width: 90%;
    --container-min-width: 0;
    --container-max-width: 1408px;
    width: var(--container-width);
    min-width: var(--container-min-width);
    max-width: var(--container-max-width);
    margin: 0 auto;
}

.content a {
    text-decoration: underline;
}

.content ul,
.content ol {
    list-style: disc;
}

.navbar {
    background-color: #2C2B3C;
}

.navbar-menu-list {
    list-style: none;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
}

.logomark {
    text-align: center;
    font-size: 30px;
    color: white;
    justify-content: center;
    display: flex;
    align-self: center;
    font-weight: 800;
}

.logomark>a {
    text-decoration: none;
}

.topHead {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    padding: 1rem 0;
}

.navbar-menu-list-item {
    padding: 7px;
}

.navbar-menu-list>a {
    text-decoration: none;
}

.navbar-menu-list-item ::after {
    position: absolute;
    right: 50%;
    height: 100%;
    width: 2px;
    background-color: white;
}

a {
    color: white
}

h3 {
    font-size: 40px;
    margin-bottom: 0.5em;
}

.Info {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-left: 250px;
    margin-right: 250px;

}

.heroImage {
    background-image: url("images/about-us.jpg");
    height: 30%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    max-height: 11400px;
    display: flex;
}

.divider {
    width: 10px;
}

.Inf0 {
    padding: 5%;
    padding-bottom: 15%;
    padding-left: 20%;
    padding-right: 20%;
}

footer {
    width: 100%;
    background-color: #2C2B3C;
    margin: 0 auto;
    padding: 1.5rem 0;
}

.footer-content {
    width: 75%;
    margin: 0 auto;
}

.footer-content-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    list-style: none;
}

.footer-content-list-item a {
    text-decoration: none;
}

.heroImage {
    background-image: url(/images/about-us.jpg);
    width: 100%;
    height: 70vh;
}

.footer-content-list-item a:hover,
.navbar-menu-list a:hover {
    font-weight: 600;
}